//Menu button

.menu-btn {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  right: 35px;
  top: 35px;
  @include easeInOut;

  .btn-line {
    width: 32px;
    height: 2.5px;
    margin: 0 0 5px 0;
    background: #ffffff;
    @include easeInOut;
  }

  //Rotate le button into close option

  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Rotate L1

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Hide L2
      &:nth-child(2) {
        opacity: 0;
      }
      // Rotate L3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
