//Widescreen monitors
@include mediaXL {
}

//Laptops
@include mediaLg {
}

//Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .large-heading {
      line-height: 1;
      margin-bottom: 1rem;
      align-content: center;
    }

    .small-heading {
      line-height: 1;
      margin-bottom: 1rem;
      align-content: center;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 20px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }

  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "about-1"
      "about-2"
      "about-3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Phones and shiz
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
