@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headers

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.large-heading {
    font-size: 6rem;
  }
  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem;
    background: rgba(lighten($primary-color, 2.5), 0.5);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeInOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin: 20vh;
    }
  }
}
